<aside>
  <div class="vbox">
    <div class="hbox inline-form">
      <input name="keyword" id="keyword" type="text" ng-model="criteria" placeholder="Recherche..."/>
      <button ng-click="onSearch()">OK</button>
      <a href="" ng-click="onSearch()" class="small centered">Recherche Avancée</a>
    </div>
  </div>
</aside>

<section>
  <header><h2 class="page-title">Recommandations :</h2></header>
  <div class="hbox thumbnail">
    <div class="hbox">
      <img src="assets/images/icons/ubuntu-tweak.png"/>
    </div>
    <div class="hbox">
      <img src="assets/images/icons/Wunderlist.png"/>
    </div>
    <div class="hbox">
      <img src="assets/images/icons/pidgin.png"/>
    </div>
    <div class="hbox">
      <img src="assets/images/icons/scribes.png"/>
    </div>
    <div class="hbox">
      <img src="assets/images/icons/picasa.png"/>
    </div>
    <div class="hbox">
      <img src="assets/images/icons/opera.png"/>
    </div>
  </div>
</section>
